<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/css/header.css" />
    <title>Online-Meeting Web App</title>
</head>
<body>
    <div class="navigation-bar">

        <div id="navigation-container">
    
          <img src="../assets/images/logo.png">
    
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="/login">Signup</a></li>
          </ul>
        </div>
          <div style="padding:20px;margin-top:30px;background-color:rgb(5, 5, 46);height:1500px;">
              <h1>
                Online meeting software for all your video conferencing & webinar needs.
              </h1>
          </div>
    </div>
</body>
</html>